* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

main {
    max-width: 900px;
    width: 90%;
    margin: auto;
    padding: 10px 40px;
}

header {
    text-align: center;
    margin-top: 40px;
}

h1,
h2 {
    margin: 0;
}

.politica__contenido {
    background-color: #b5b5b5;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    line-height: 1.5;
    width: 50%;
    /* Hace que el div ocupe el 50% de la pantalla */
    margin: 20px auto;
    /* Centra el div horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Añade un pequeño sombreado para mayor visibilidad */
}